<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link  rel='stylesheet' href='style.css' />
    <!-- development version, includes helpful console warnings -->
		<link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
</head>

<body>
		<h1>Project Dashboard</h4>
    <div id="app">
			<div class="container">
				<div class="header">
					<div>Project</div>
					<div>Url</div>
					<div>Status</div>
				</div>
				<div class="row" v-for="(project, project_name) in projects">
					<div>{{ project_name }}</div> 
					<a :href="project.url" target="_blank"> {{ project.url }}</a>
					<div class="status" v-if="project.error"> 
							<div>Error - no status</div>
					</div>
					<div class="status" v-else> 
							<div>{{ project.status.commit}} </div>
							<div>{{ project.status.branch}} </div>
							<div>{{ project.status.deploy_date}} </div>
					</div>
				</div>
			</div>
		</div>
    
		<%- include('partials/footer') %>
</body>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="bundle.js"></script>
</html>
