*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Inconsolata', sans-serif;
}

body {
 margin: 1em;
 padding: 1em;
 display: flex;
 flex-direction: column;
 min-height: calc(100vh - 2.5em);
}

h1 {
  color: hsla(120, 60%, 60%, 1);
}

#app {
  flex-grow: 1;
}

.container {
  margin: 2em 0;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-row-gap: 1em;
}

.header, .row{
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 50px;
}

@media only screen and (max-width: 600px) {
  .header {
    display: none;
  }

  .row{
    display: flex;
    flex-direction: column;
    a {
      padding: 5px;
      background: hsla(120, 60%, 60%, 1);
    }
  }
}

.header {
  font-weight: 700;
}


